{
	"port": 5000,
	"disableAccountCreation": true,
	"cors": {
		"allowedOrigins": ["https://yamatouta.net"]
	},
	"db": {
		"connection": "mariadb",
		"database": "yamatouta_db",
		"debug": false,
		"username": "",
		"password": ""
	},
	"session": {
		"secret": ""
	},
	"cookie": {
		"domain": ".yamatouta.net"
	}
}
