{
	"port": 5000,
	"disableAccountCreation": false,
	"clientBuildPath": "../frontend/build",
	"cors": {
		"allowedOrigins": ["http://localhost:3000"]
	},
	"db": {
		"connection": "sqlite",
		"database": ":memory:",
		"debug": true,
		"username": "",
		"password": ""
	},
	"session": {
		"secret": ""
	},
	"cookie": {
		"domain": ""
	}
}
