{
	"port": 5000,
	"disableAccountCreation": false,
	"cors": {
		"allowedOrigins": ["http://localhost:3000"]
	},
	"db": {
		"connection": "mariadb",
		"database": "yamatouta_test_db",
		"debug": true,
		"username": "",
		"password": ""
	},
	"session": {
		"secret": ""
	}
}
