{
	"port": 5000,
	"disableAccountCreation": true,
	"clientBuildPath": "../frontend/build",
	"gaMeasurementId": "",
	"cors": {
		"allowedOrigins": ["https://yamatouta.net"]
	},
	"db": {
		"connection": "mariadb",
		"database": "yamatouta_db",
		"debug": false,
		"username": "",
		"password": ""
	},
	"session": {
		"secret": ""
	},
	"cookie": {
		"domain": ".yamatouta.net"
	},
	"contentSecurityPolicy": {
		"scriptSrc": [],
		"imgSrc": [],
		"connectSrc": []
	}
}
