{
	"port": 5000,
	"disableAccountCreation": false,
	"cors": {
		"allowedOrigins": ["http://localhost:3000"]
	},
	"db": {
		"connection": "postgresql",
		"database": "yamatouta_db",
		"debug": true,
		"username": "",
		"password": ""
	},
	"session": {
		"secret": ""
	}
}
