{
	"port": 5000,
	"disableAccountCreation": false,
	"clientBuildPath": "../frontend/build",
	"gaMeasurementId": "",
	"cors": {
		"allowedOrigins": ["http://localhost:3000"]
	},
	"db": {
		"connection": "mariadb",
		"database": "yamatouta_db",
		"debug": true,
		"username": "",
		"password": ""
	},
	"session": {
		"secret": ""
	},
	"cookie": {
		"domain": ""
	},
	"contentSecurityPolicy": {
		"scriptSrc": [],
		"imgSrc": [],
		"connectSrc": []
	}
}
